<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|| A.V.T.A.R ||</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!---navbar section-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/index.html" id="navbar__logo">
                </i>||A.V.T.A.R||</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links"> Home </a>
                </li>
                <li class="navbar__item">
                    <a href="/tech.html" class="navbar__links"> Tech </a>
                </li>
                <li class="navbar__btn">
                    <a href="/profile/sign-in.html" class="button"> Signup </a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Hero section-->
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>STUDY AREA</h1>
                <h2>Microcontrollers</h2>
                <p>Let's get familiar to them</p>
                
            </div>
            <div class="main__img--container">
                <img src="pic5.svg" alt="pic" id="main__img">
            </div>
        </div>
    </div>

    <!--Services-->
    <div class="services">
        <h1>lets see what is IoT about ?</h1>
        <div class="services__container">
            <div class="services__card">
                <h2>Microcontrollers</h2>
                <p>AI powered Technology</p>
                <a href="/tech.html"><button>Let's go</button></a>
            </div>
            <div class="services__card">
                <h2>SENSOR</h2>
                <p>Capture the world</p>
                <a href="/" class="game"><button>Let's go</button></a>
            </div>
        </div>
    
    </div>

    <!--Footer-->
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About Us</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Investmenets</a>
                    <a href="/">Term of services</a>
                </div>
                <div class="footer__link--items">
                    <h2>Contact Us</h2>
                    <a href="/contact/contact.html">Contact Supports</a>
                </div>
            </div>
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Social Media</h2>
                    <a href="/">Instagram</a>
                    <a href="/">Facebook</a>
                    <a href="/">Twitter</a>
                    <a href="/">Youtube</a>
                </div>
            </div>
        </div>
        <div class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo"><i class="fas fa-gem"></i>|| A.V.T.A.R ||</a>
                    <p class="website__rights">&copy; 2023 || A.V.T.A.R ||</p>
                    <div class="social__icons">
                        <a href="/" class="social__icons--link" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="/" class="social__icons--link" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="/" class="social__icons--link" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="/" class="social__icons--link" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
    <script src="https://kit.fontawesome.com/99c34cbd2c.js" crossorigin="anonymous"></script>
</body>

</html>