<!DOCTYPE html>
<html>
  <head>
    <title>GAME CORNER</title>
    <link rel="stylesheet" type="text/css" href="game.css">
  </head>
  <body>
    <header>
      <h1>GAME CORNER</h1>
      <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/stdy/study.html">Study Microcontrollers</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>New Releases</h2>
        <div class="game">
          <img src="game1.jpg" alt="Game 1">
          <canvas class="app"></canvas>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 || A.V.T.A.R ||</p>
    </footer>

    <script src="main.js" type="module"></script>
  </body>
</html>
