<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>||A.V.T.A.R|| - Arduino and Microcontrollers</title>
<meta name="description" content="Learn about Arduino and Microcontrollers, versatile tools for creating interactive projects.">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../nf/style.css">

<script src="js/modernizr.js"></script>
<script src="js/pace.min.js"></script>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

</head>
<body>
    <div class="cont">
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/index" id="navbar__logo">
                    </i>||A.V.T.A.R||</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/index" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" class="navbar__links"> Home </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/tech" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" class="navbar__links"> Tech </a>
                    </li>
                    <li class="navbar__item">
                        <a href="../game.html" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;" class="navbar__links"> Game </a>
                    </li>
                    <li class="navbar__btn">
                        <a href="/profile" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"class="btn"> Profile </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    

<section class="s-microcontrollers" style="z-index: -2; color: white;">
    <div class="row">
        <div class="col-full">
            <h2 class="display-2" style="text-align: center; background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Discover Arduino and Microcontrollers</h2><br>

            <div class="row">
                <div class="col-half">
                    <p class="lead"><strong>Microcontrollers are compact computer chips capable of executing predefined instructions, and they have gained immense popularity for their ability to carry out specialized functions. Among the microcontroller platforms available, Arduino stands out as a favored choice among enthusiasts and educators alike, finding extensive utilization in educational settings and hobbyist ventures.</strong></p><br><br>
                </div>
                <div class="col-half">
                    

                </div>
            </div>
        </div>
    </div>

    <div class="row block-1-2 block-tab-full">
        <div class="col-block">
            <h3 class="h3" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">What is a Microcontroller?</h3>

            <div class="row">
                <div class="col-half">
                    <p>A microcontroller is a small computer chip that can be programmed to perform specific tasks. It is commonly used in electronic devices and embedded systems like appliances, cars, and industrial machinery. They are programmable and offer versatility for a wide range of applications. Arduino, a popular platform, is favored for its user-friendly ecosystem, making it accessible to enthusiasts, hobbyists, and educators.</p><br><br>
                </div>
                <div class="col-half">
                    <img src="micro.jpg" alt="Description of Image 1" class="s-microcontrollers__image center">
                </div>
            </div>
        </div>
    </div>

    <div class="row block-1-2 block-tab-full">
        <div class="col-block">
            <h3 class="h3" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">What is Arduino?</h3>

            <div class="row">
                <div class="col-half">
                    <p>Arduino is an open-source electronics platform that facilitates the creation of interactive projects. It consists of hardware and software components designed for individuals interested in exploring electronics and programming. At the heart of Arduino is a microcontroller board, which serves as the platform's brain.

                        The Arduino board is programmable and versatile, capable of reading inputs from sensors, buttons, or digital communications. These inputs can range from detecting light levels or temperature to capturing user interactions or external data. Once the inputs are received, Arduino processes the information and generates corresponding outputs. These outputs can control motors, lights, displays, or interact with other electronic devices.</p><br>
                </div>
                <div class="col-half">
                    <img src="arduino.png" alt="Description of Image2" class="s-microcontrollers__image center">
                </div>
                </div>
                </div>
                </div>
                <div class="row block-1-2 block-tab-full">
                    <div class="col-block">
                        <h3 class="h3" style="background: linear-gradient(to top, #ff0844 0%, #ffb199 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">What is Raspberry Pi?</h3>
                
                        <div class="row">
                            <div class="col-half">
                                <p>Raspberry Pi is a series of small, affordable, and versatile single-board computers developed by the Raspberry Pi Foundation. These credit card-sized computers are designed to promote computer science education and provide a platform for hobbyists and enthusiasts to explore computing applications. Featuring a processor, memory, and input/output ports, Raspberry Pi boards run on a Linux-based operating system and can be connected to displays, keyboards, and other peripherals. What makes Raspberry Pi unique is its ability to interface with electronic components, making it suitable for various projects.
                
                                    Raspberry Pi boards are known for their affordability, low power consumption, and flexibility. They come in different models to cater to different needs, enabling users to learn programming, experiment with electronics, and create projects in robotics, media centers, and IoT applications. The Raspberry Pi community is active and supportive, with a wealth of online resources, tutorials, and forums for knowledge sharing. This collaborative ecosystem fosters learning, creativity, and innovation.</p><br>
                            </div>
                            <div class="col-half">
                                <img src="rpi.png" alt="Description of Image 3" class="s-microcontrollers__image center">
                            </div>
                        </div>
                    </div>
                </div>
            </section>                

    
    
    <main class="s-home s-home--particles">
    
        <div id="particles-js" class="home-particles"></div>
    
        <div class="gradient-overlay"></div>
        
    
    </main> 
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    
    
    
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/polygons.js"></script>
    <script src="js/main.js"></script>
</body>
</html>    
    